@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Melf's Magic Shop</h1>
    <p>The medieval magic store that's so enchanted it's on the internet before computers where ven invented yet.</p>
    <a asp-controller="Login" asp-action="Login">Click Here to Login.</a><br/>
</div>
